{% extends "users/layout.html" %}
{% load static %}

{% block body %}
    Debug: {{ saved_flashcards }}

    <h1>Saved Flashcards</h1>
    {% if saved_flashcards %}
        <ul>
            {% for saved_flashcard in saved_flashcards %}
                <li>
                    <p>Front: {{ saved_flashcard.flashcard.front }}</p>
                    <p>Back: {{ saved_flashcard.flashcard.back }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No saved flashcards yet.</p>
    {% endif %}
{% endblock %}
